<button pButton type="button" class="ui-button-raised ui-button-secondary" icon="fas fa-edit"
    pTooltip="Editar" tooltipPosition="top"  (click)="abrirModal()"></button>
<p-dialog header="Crear nuevo Alumno" [(visible)]="display" [modal]=true
    [style]="{'max-width': '700px', 'width': '100vw'}">
    <div class="container-fluid mt-3 ">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-3">
                <p class="sub_detalle">Rut:</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <input type="text" pInputText [ngClass]="{'errorInputPrime': validError(alumno.rut)}"
                    [(ngModel)]="alumno.rut" />
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-12 col-sm-6 col-md-3">
                <p class="sub_detalle">Nombres:</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <input type="text" pInputText [ngClass]="{'errorInputPrime': validError(alumno.nombres)}"
                    [(ngModel)]="alumno.nombres" />
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-12 col-sm-6 col-md-3">
                <p class="sub_detalle"> Apellido Paterno:</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <input type="text" pInputText [ngClass]="{'errorInputPrime': validError(alumno.apellido_pat)}"
                    [(ngModel)]="alumno.apellido_pat" />
            </div>
        </div>

        <div class="row justify-content-center mt-1">
            <div class="col-12 col-sm-6 col-md-3">
                <p class="sub_detalle"> Apellido Materno:</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <input type="text" pInputText [ngClass]="{'errorInputPrime': validError(alumno.apellido_mat)}"
                    [(ngModel)]="alumno.apellido_mat" />
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="errorText" *ngIf="!validGeneral() && onSubmmit">
                Error: Debe Ingresar los cambos requeridos.
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4"><button pButton type="button" label="Guardar"
                class="ui-button-raised ui-button-success" (click)="guardar()"></button></div>

    </div>
</p-dialog>

<app-mensaje-carga [displayCarga]="displayCarga"></app-mensaje-carga>