<div class="tarjeta">
    <p-card>
        <h5> Lista de Alumnos </h5>
        <div class="listaAlumnos mt-5">
            <div class="inputBusqueda d-flex justify-content-end mb-2">

                <!-- Boton Para agregar nuevos alumnos -->
                <app-agregar class="mr-2" (actualizar)="cargarListaAlumnos()"></app-agregar>

                <!-- Boton para Eliminar Alumnos -->
                <input type="text" pInputText placeholder="Filtro: nombre, rut"
                    (keyup)="filtroAlumnos($event.target.value)">
            </div>
            <div class="d-flex justify-content-center">
                <div class="tabla">
                    <p-table [value]="alumnos" [responsive]="true" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Rut</th>
                                <th>Nombre</th>
                                <th>Registro</th>
                                <th>Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-alumno>
                            <tr>
                                <td>
                                    <span class="ui-column-title">Rut: </span>
                                    {{alumno.rut}}
                                </td>
                                <td>
                                    <span class="ui-column-title">Nombre: </span>
                                    {{alumno.nombres}} {{alumno.apellido_pat}} {{alumno.apellido_mat}}
                                </td>
                                <td>
                                    <span class="ui-column-title">Registro: </span>
                                    {{alumno.fecha_hora_registro | date: 'yyyy-MM-dd hh:mm'}}
                                </td>
                                <td><span class="ui-column-title">Acciones: </span>
                                    <!-- Boton Para ver detalle de alumno -->
                                    <app-detalle [alumno]="alumno"></app-detalle>
                                    <!-- Boton para elinar alumno -->
                                    <app-eliminar-alumno class="ml-2" [alumno]="alumno"
                                        (actualizar)="cargarListaAlumnos()"></app-eliminar-alumno>
                                    <app-editar-alumno class="ml-2" [alumno_input]="alumno"
                                        (actualizar)="cargarListaAlumnos()"></app-editar-alumno>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </p-card>
</div>



