// .card {
//     .tabla{
//         margin-top: 2rem;
//         max-width: 1100px;
//         margin-bottom: 2rem;
//     }
// }

.tarjeta{
    margin-left: 50px;
    background-color: white;
    h5{
        color: black
    }
}

// .listaAlumnos{
//     margin-top: 2rem;
//     max-width: 1100px;
//     margin-bottom: 2rem;
// }